Taken from: https://www.kaggle.com/adityadesai13/used-car-dataset-ford-and-mercedes

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install scikit-optimize

Collecting scikit-optimize
  Downloading https://files.pythonhosted.org/packages/8b/03/be33e89f55866065a02e515c5b319304a801a9f1027a9b311a9b1d1f8dc7/scikit_optimize-0.8.1-py2.py3-none-any.whl (101kB)
     |████████████████████████████████| 102kB 4.2MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.0.1)
Collecting pyaml>=16.9
  Downloading https://files.pythonhosted.org/packages/15/c4/1310a054d33abc318426a956e7d6df0df76a6ddfa9c66f6310274fb75d42/pyaml-20.4.0-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (0.22.2.post1)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.4.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from pyaml>=16.9->scikit-optimize) (3.13)
Installing collected packages: pyaml, scikit-optimize
Successfully installed pyaml-20.4.0 scikit-optimize-0.8.1

In [ ]:
import pandas as pd
import sys
sys.path.insert(0,'/content/drive/My Drive/Datasets_SVR/Library')
from subsamplesvr import svr_subsample_bayes_train
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, mean_absolute_error, mean_squared_error
from sklearn.svm import SVR
import numpy as np
import time
import math
from sklearn.preprocessing import StandardScaler
from skopt import BayesSearchCV

In [ ]:
audi_data=pd.read_csv("/content/drive/My Drive/Datasets_SVR/Data/Used Cars Datasets/audi.csv")
bmw_data=pd.read_csv("/content/drive/My Drive/Datasets_SVR/Data/Used Cars Datasets/bmw.csv")
ford_data=pd.read_csv("/content/drive/My Drive/Datasets_SVR/Data/Used Cars Datasets/ford.csv")
hyundi_data=pd.read_csv("/content/drive/My Drive/Datasets_SVR/Data/Used Cars Datasets/hyundi.csv")
merc_data=pd.read_csv("/content/drive/My Drive/Datasets_SVR/Data/Used Cars Datasets/merc.csv")
skoda_data=pd.read_csv("/content/drive/My Drive/Datasets_SVR/Data/Used Cars Datasets/skoda.csv")
toyota_data=pd.read_csv("/content/drive/My Drive/Datasets_SVR/Data/Used Cars Datasets/toyota.csv")
vauxhall_data=pd.read_csv("/content/drive/My Drive/Datasets_SVR/Data/Used Cars Datasets/vauxhall.csv")
vw_data=pd.read_csv("/content/drive/My Drive/Datasets_SVR/Data/Used Cars Datasets/vw.csv")

In [ ]:
print(audi_data.info())
display(audi_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10668 non-null  object
 1   year          10668 non-null  int64
 2   price         10668 non-null  int64
 3   transmission  10668 non-null  object
 4   mileage       10668 non-null  int64
 5   fuelType      10668 non-null  object
 6   tax           10668 non-null  int64
 7   mpg           10668 non-null  float64
 8   engineSize    10668 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 750.2+ KB
None

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3    A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4    A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0

In [ ]:
print(bmw_data.info())
display(bmw_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10781 entries, 0 to 10780
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10781 non-null  object
 1   year          10781 non-null  int64
 2   price         10781 non-null  int64
 3   transmission  10781 non-null  object
 4   mileage       10781 non-null  int64
 5   fuelType      10781 non-null  object
 6   tax           10781 non-null  int64
 7   mpg           10781 non-null  float64
 8   engineSize    10781 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 758.2+ KB
None

       model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   5 Series  2014  11200    Automatic    67068   Diesel  125  57.6         2.0
1   6 Series  2018  27000    Automatic    14827   Petrol  145  42.8         2.0
2   5 Series  2016  16000    Automatic    62794   Diesel  160  51.4         3.0
3   1 Series  2017  12750    Automatic    26676   Diesel  145  72.4         1.5
4   7 Series  2014  14500    Automatic    39554   Diesel  160  50.4         3.0

In [ ]:
print(ford_data.info())
display(ford_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17965 entries, 0 to 17964
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         17965 non-null  object
 1   year          17965 non-null  int64
 2   price         17965 non-null  int64
 3   transmission  17965 non-null  object
 4   mileage       17965 non-null  int64
 5   fuelType      17965 non-null  object
 6   tax           17965 non-null  int64
 7   mpg           17965 non-null  float64
 8   engineSize    17965 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 1.2+ MB
None

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0

In [ ]:
print(hyundi_data.info())
display(hyundi_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4860 entries, 0 to 4859
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         4860 non-null   object
 1   year          4860 non-null   int64
 2   price         4860 non-null   int64
 3   transmission  4860 non-null   object
 4   mileage       4860 non-null   int64
 5   fuelType      4860 non-null   object
 6   tax(£)        4860 non-null   int64
 7   mpg           4860 non-null   float64
 8   engineSize    4860 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 341.8+ KB
None

     model  year  price transmission  ...  fuelType tax(£)   mpg  engineSize
0      I20  2017   7999       Manual  ...    Petrol    145  58.9         1.2
1   Tucson  2016  14499    Automatic  ...    Diesel    235  43.5         2.0
2   Tucson  2016  11399       Manual  ...    Diesel     30  61.7         1.7
3      I10  2016   6499       Manual  ...    Petrol     20  60.1         1.0
4     IX35  2015  10199       Manual  ...    Diesel    160  51.4         2.0

[5 rows x 9 columns]

In [ ]:
hyundi_data.rename(columns={'tax(£)':'tax'}, inplace=True)
hyundi_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4860 entries, 0 to 4859
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         4860 non-null   object
 1   year          4860 non-null   int64
 2   price         4860 non-null   int64
 3   transmission  4860 non-null   object
 4   mileage       4860 non-null   int64
 5   fuelType      4860 non-null   object
 6   tax           4860 non-null   int64
 7   mpg           4860 non-null   float64
 8   engineSize    4860 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 341.8+ KB

In [ ]:
print(merc_data.info())
display(merc_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13119 entries, 0 to 13118
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         13119 non-null  object
 1   year          13119 non-null  int64
 2   price         13119 non-null  int64
 3   transmission  13119 non-null  object
 4   mileage       13119 non-null  int64
 5   fuelType      13119 non-null  object
 6   tax           13119 non-null  int64
 7   mpg           13119 non-null  float64
 8   engineSize    13119 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 922.6+ KB
None

       model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0        SLK  2005   5200    Automatic    63000   Petrol  325  32.1         1.8
1    S Class  2017  34948    Automatic    27000   Hybrid   20  61.4         2.1
2   SL CLASS  2016  49948    Automatic     6200   Petrol  555  28.0         5.5
3    G Class  2016  61948    Automatic    16000   Petrol  325  30.4         4.0
4    G Class  2016  73948    Automatic     4000   Petrol  325  30.1         4.0

In [ ]:
print(skoda_data.info())
display(skoda_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6267 entries, 0 to 6266
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         6267 non-null   object
 1   year          6267 non-null   int64
 2   price         6267 non-null   int64
 3   transmission  6267 non-null   object
 4   mileage       6267 non-null   int64
 5   fuelType      6267 non-null   object
 6   tax           6267 non-null   int64
 7   mpg           6267 non-null   float64
 8   engineSize    6267 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 440.8+ KB
None

           model  year  price transmission  ...  fuelType  tax   mpg  engineSize
0        Octavia  2017  10550       Manual  ...    Petrol  150  54.3         1.4
1         Citigo  2018   8200       Manual  ...    Petrol  145  67.3         1.0
2        Octavia  2019  15650    Automatic  ...    Diesel  145  67.3         2.0
3   Yeti Outdoor  2015  14000    Automatic  ...    Diesel  165  51.4         2.0
4         Superb  2019  18350       Manual  ...    Petrol  150  40.9         1.5

[5 rows x 9 columns]

In [ ]:
print(toyota_data.info())
display(toyota_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6738 entries, 0 to 6737
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         6738 non-null   object
 1   year          6738 non-null   int64
 2   price         6738 non-null   int64
 3   transmission  6738 non-null   object
 4   mileage       6738 non-null   int64
 5   fuelType      6738 non-null   object
 6   tax           6738 non-null   int64
 7   mpg           6738 non-null   float64
 8   engineSize    6738 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 473.9+ KB
None

   model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   GT86  2016  16000       Manual    24089   Petrol  265  36.2         2.0
1   GT86  2017  15995       Manual    18615   Petrol  145  36.2         2.0
2   GT86  2015  13998       Manual    27469   Petrol  265  36.2         2.0
3   GT86  2017  18998       Manual    14736   Petrol  150  36.2         2.0
4   GT86  2017  17498       Manual    36284   Petrol  145  36.2         2.0

In [ ]:
print(vauxhall_data.info())
display(vauxhall_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13632 entries, 0 to 13631
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         13632 non-null  object
 1   year          13632 non-null  int64
 2   price         13632 non-null  int64
 3   transmission  13632 non-null  object
 4   mileage       13632 non-null  int64
 5   fuelType      13632 non-null  object
 6   tax           13632 non-null  int64
 7   mpg           13632 non-null  float64
 8   engineSize    13632 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 958.6+ KB
None

    model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Corsa  2018   7885       Manual     9876   Petrol  145  55.4         1.4
1   Corsa  2019  11995       Manual     2500   Petrol  145  54.3         1.4
2   Corsa  2017   9777    Automatic     9625   Petrol  145  47.9         1.4
3   Corsa  2016   8500       Manual    25796   Petrol   30  55.4         1.4
4   Corsa  2019  10000       Manual     3887   Petrol  145  43.5         1.4

In [ ]:
print(vw_data.info())
display(vw_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15157 entries, 0 to 15156
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         15157 non-null  object
 1   year          15157 non-null  int64
 2   price         15157 non-null  int64
 3   transmission  15157 non-null  object
 4   mileage       15157 non-null  int64
 5   fuelType      15157 non-null  object
 6   tax           15157 non-null  int64
 7   mpg           15157 non-null  float64
 8   engineSize    15157 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 1.0+ MB
None

    model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   T-Roc  2019  25000    Automatic    13904   Diesel  145  49.6         2.0
1   T-Roc  2019  26883    Automatic     4562   Diesel  145  49.6         2.0
2   T-Roc  2019  20000       Manual     7414   Diesel  145  50.4         2.0
3   T-Roc  2019  33492    Automatic     4825   Petrol  145  32.5         2.0
4   T-Roc  2019  22900    Semi-Auto     6500   Petrol  150  39.8         1.5

In [ ]:
audi_data['model'] = 'audi'
bmw_data['model'] = 'bmw'
ford_data['model'] = 'ford'
hyundi_data['model'] = 'hyundai'
merc_data['model'] = 'mercedez'
skoda_data['model'] = 'skoda'
toyota_data['model'] = 'toyota'
vauxhall_data['model'] = 'vauxhall'
vw_data['model'] = 'vw'

In [ ]:
used_cars=pd.concat([audi_data,bmw_data,ford_data,hyundi_data,merc_data,skoda_data,toyota_data,vauxhall_data,vw_data])

In [ ]:
used_cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99187 entries, 0 to 15156
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         99187 non-null  object
 1   year          99187 non-null  int64
 2   price         99187 non-null  int64
 3   transmission  99187 non-null  object
 4   mileage       99187 non-null  int64
 5   fuelType      99187 non-null  object
 6   tax           99187 non-null  int64
 7   mpg           99187 non-null  float64
 8   engineSize    99187 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 7.6+ MB

In [ ]:
used_cars['model'].value_counts()

ford        17965
vw          15157
vauxhall    13632
mercedez    13119
bmw         10781
audi        10668
toyota       6738
skoda        6267
hyundai      4860
Name: model, dtype: int64

In [ ]:
used_cars['year'].value_counts()

2019    26771
2017    21733
2016    15850
2018    13664
2015     7645
2020     4465
2014     4085
2013     2603
2012      634
2011      432
2010      340
2009      278
2008      200
2007      163
2006       86
2005       69
2004       52
2003       34
2002       31
2001       20
2000        9
1998        8
1999        6
1997        4
1970        2
1996        2
2060        1
Name: year, dtype: int64

In [ ]:
used_cars['transmission'].value_counts()

Manual       56445
Semi-Auto    22677
Automatic    20056
Other            9
Name: transmission, dtype: int64

In [ ]:
used_cars['fuelType'].value_counts()

Petrol      54928
Diesel      40928
Hybrid       3078
Other         247
Electric        6
Name: fuelType, dtype: int64

In [ ]:
used_cars.describe().T

              count          mean           std  ...      50%      75%       max
year        99187.0   2017.087723      2.123934  ...   2017.0   2019.0    2060.0
price       99187.0  16805.347656   9866.773417  ...  14495.0  20870.0  159999.0
mileage     99187.0  23058.914213  21148.523721  ...  17460.0  32339.0  323000.0
tax         99187.0    120.299838     63.150926  ...    145.0    145.0     580.0
mpg         99187.0     55.166825     16.138522  ...     54.3     62.8     470.8
engineSize  99187.0      1.663280      0.557646  ...      1.6      2.0       6.6

[6 rows x 8 columns]

In [ ]:
used_cars = used_cars[used_cars['year'] <= 2021]

In [ ]:
used_cars.describe().T

              count          mean           std  ...      50%       75%       max
year        99186.0   2017.087291      2.119570  ...   2017.0   2019.00    2020.0
price       99186.0  16805.451606   9866.768844  ...  14495.0  20870.00  159999.0
mileage     99186.0  23058.594126  21148.390071  ...  17460.0  32337.75  323000.0
tax         99186.0    120.298984     63.150672  ...    145.0    145.00     580.0
mpg         99186.0     55.166950     16.138556  ...     54.3     62.80     470.8
engineSize  99186.0      1.663283      0.557649  ...      1.6      2.00       6.6

[6 rows x 8 columns]

In [ ]:
used_cars.isna().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [ ]:
print(used_cars.shape)

(99186, 9)

In [ ]:
used_cars

      model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0      audi  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1      audi  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2      audi  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3      audi  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4      audi  2019  17300       Manual     1998   Petrol  145  49.6         1.0
...     ...   ...    ...          ...      ...      ...  ...   ...         ...
15152    vw  2012   5990       Manual    74000   Diesel  125  58.9         2.0
15153    vw  2008   1799       Manual    88102   Petrol  145  46.3         1.2
15154    vw  2009   1590       Manual    70000   Petrol  200  42.0         1.4
15155    vw  2006   1250       Manual    82704   Petrol  150  46.3         1.2
15156    vw  2007   2295       Manual    74000   Petrol  145  46.3         1.2

[99186 rows x 9 columns]

In [ ]:
used_cars.isna().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [ ]:
used_cars['transmission'].replace(to_replace=['Manual'],value=0,inplace=True)
used_cars['transmission'].replace(to_replace=['Semi-Auto'],value=1,inplace=True)
used_cars['transmission'].replace(to_replace=['Automatic'],value=2,inplace=True)
used_cars['transmission'].replace(to_replace=['Other'],value=3,inplace=True)

In [ ]:
used_cars['fuelType'].replace(to_replace=['Petrol'],value=10,inplace=True)
used_cars['fuelType'].replace(to_replace=['Diesel'],value=9,inplace=True)
used_cars['fuelType'].replace(to_replace=['Hybrid'],value=8,inplace=True)
used_cars['fuelType'].replace(to_replace=['Other'],value=7,inplace=True)
used_cars['fuelType'].replace(to_replace=['Electric'],value=6,inplace=True)

In [ ]:
used_cars['model'].replace(to_replace=['ford'],value=30,inplace=True)
used_cars['model'].replace(to_replace=['vw'],value=29,inplace=True)
used_cars['model'].replace(to_replace=['vauxhall'],value=28,inplace=True)
used_cars['model'].replace(to_replace=['mercedez'],value=27,inplace=True)
used_cars['model'].replace(to_replace=['bmw'],value=26,inplace=True)
used_cars['model'].replace(to_replace=['audi'],value=25,inplace=True)
used_cars['model'].replace(to_replace=['toyota'],value=24,inplace=True)
used_cars['model'].replace(to_replace=['skoda'],value=23,inplace=True)
used_cars['model'].replace(to_replace=['hyundai'],value=22,inplace=True)

In [ ]:
used_cars['transmission'].value_counts()

0    56445
1    22677
2    20055
3        9
Name: transmission, dtype: int64

In [ ]:
used_cars['fuelType'].value_counts()

10    54927
9     40928
8      3078
7       247
6         6
Name: fuelType, dtype: int64

In [ ]:
used_cars['model'].value_counts()

30    17964
29    15157
28    13632
27    13119
26    10781
25    10668
24     6738
23     6267
22     4860
Name: model, dtype: int64

In [ ]:
used_cars

       model  year  price  transmission  ...  fuelType  tax   mpg  engineSize
0         25  2017  12500             0  ...        10  150  55.4         1.4
1         25  2016  16500             2  ...         9   20  64.2         2.0
2         25  2016  11000             0  ...        10   30  55.4         1.4
3         25  2017  16800             2  ...         9  145  67.3         2.0
4         25  2019  17300             0  ...        10  145  49.6         1.0
...      ...   ...    ...           ...  ...       ...  ...   ...         ...
15152     29  2012   5990             0  ...         9  125  58.9         2.0
15153     29  2008   1799             0  ...        10  145  46.3         1.2
15154     29  2009   1590             0  ...        10  200  42.0         1.4
15155     29  2006   1250             0  ...        10  150  46.3         1.2
15156     29  2007   2295             0  ...        10  145  46.3         1.2

[99186 rows x 9 columns]

In [ ]:
used_cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99186 entries, 0 to 15156
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         99186 non-null  int64
 1   year          99186 non-null  int64
 2   price         99186 non-null  int64
 3   transmission  99186 non-null  int64
 4   mileage       99186 non-null  int64
 5   fuelType      99186 non-null  int64
 6   tax           99186 non-null  int64
 7   mpg           99186 non-null  float64
 8   engineSize    99186 non-null  float64
dtypes: float64(2), int64(7)
memory usage: 7.6 MB

In [ ]:
used_cars.describe().T

                count          mean           std  ...      50%       75%       max
model         99186.0     26.961073      2.400729  ...     27.0     29.00      30.0
year          99186.0   2017.087291      2.119570  ...   2017.0   2019.00    2020.0
price         99186.0  16805.451606   9866.768844  ...  14495.0  20870.00  159999.0
transmission  99186.0      0.633295      0.798232  ...      0.0      1.00       3.0
mileage       99186.0  23058.594126  21148.390071  ...  17460.0  32337.75  323000.0
fuelType      99186.0      9.517583      0.572212  ...     10.0     10.00      10.0
tax           99186.0    120.298984     63.150672  ...    145.0    145.00     580.0
mpg           99186.0     55.166950     16.138556  ...     54.3     62.80     470.8
engineSize    99186.0      1.663283      0.557649  ...      1.6      2.00       6.6

[9 rows x 8 columns]

In [ ]:
x_train,x_test=train_test_split(used_cars,test_size=0.20)

In [ ]:
x_train

       model  year  price  transmission  ...  fuelType  tax   mpg  engineSize
6089      26  2014  20572             1  ...         9  145  54.3         2.0
9696      30  2018  14990             0  ...        10  145  53.3         1.0
8769      29  2017   9950             0  ...        10  150  60.1         1.2
11240     30  2019  18999             0  ...        10  145  34.4         1.5
3721      28  2013   4798             0  ...        10  160  44.8         1.6
...      ...   ...    ...           ...  ...       ...  ...   ...         ...
8464      29  2017   9990             0  ...        10  145  60.1         1.2
786       28  2016   7955             0  ...        10   30  54.3         1.4
9760      30  2016   9990             0  ...        10  145  47.9         1.6
2021      23  2017   8350             0  ...        10  150  60.1         1.2
5999      30  2018  16790             0  ...        10  145  45.6         1.5

[79348 rows x 9 columns]

In [ ]:
x_test

       model  year  price  transmission  ...  fuelType  tax   mpg  engineSize
1232      23  2020  19990             0  ...         9  145  54.3         1.6
7462      30  2017   8695             0  ...         9    0  78.5         1.5
7342      27  2019  24699             1  ...        10  145  44.1         1.5
8138      29  2017   9690             0  ...        10   20  60.1         1.2
8443      29  2019  19490             1  ...        10  145  39.8         2.0
...      ...   ...    ...           ...  ...       ...  ...   ...         ...
463       27  2015  17498             1  ...         8    0  76.4         2.1
12769     29  2019  10835             0  ...        10  145  54.3         1.0
1094      22  2017  11980             0  ...        10  145  52.3         1.0
2473      26  2019  29840             1  ...         9  145  60.1         2.0
7927      28  2017   9967             0  ...        10  145  47.1         1.4

[19838 rows x 9 columns]

In [ ]:
col_names=list(used_cars.columns[used_cars.columns!="price"])

In [ ]:
col_names

['model',
 'year',
 'transmission',
 'mileage',
 'fuelType',
 'tax',
 'mpg',
 'engineSize']

In [ ]:
scaler = StandardScaler()
scaled_data=scaler.fit_transform(x_train.loc[:,x_train.columns!="price"])

In [ ]:
x_train[col_names]=scaled_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [ ]:
scaler = StandardScaler()
scaled_data=scaler.fit_transform(x_test.loc[:,x_test.columns!="price"])

In [ ]:
x_test[col_names]=scaled_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [ ]:
x_train

          model      year  price  ...       tax       mpg  engineSize
6089  -0.401219 -1.461534  20572  ...  0.390047 -0.052463    0.605424
9696   1.265278  0.429550  14990  ...  0.390047 -0.114500   -1.190641
8769   0.848654 -0.043221   9950  ...  0.469453  0.307354   -0.831428
11240  1.265278  0.902321  18999  ...  0.390047 -1.287006   -0.292609
3721   0.432030 -1.934305   4798  ...  0.628264 -0.641818   -0.113002
...         ...       ...    ...  ...       ...       ...         ...
8464   0.848654 -0.043221   9990  ...  0.390047  0.307354   -0.831428
786    0.432030 -0.515992   7955  ... -1.436279 -0.052463   -0.472215
9760   1.265278 -0.515992   9990  ...  0.390047 -0.449502   -0.113002
2021  -1.651092 -0.043221   8350  ...  0.469453  0.307354   -0.831428
5999   1.265278  0.429550  16790  ...  0.390047 -0.592188   -0.292609

[79348 rows x 9 columns]

In [ ]:
x_test

          model      year  price  ...       tax       mpg  engineSize
1232  -1.645420  1.370802  19990  ...  0.395529 -0.058719   -0.115393
7462   1.268101 -0.033120   8695  ... -1.874647  1.433763   -0.293608
7342   0.019449  0.902828  24699  ...  0.395529 -0.687781   -0.293608
8138   0.851884 -0.033120   9690  ... -1.561519  0.298984   -0.828252
8443   0.851884  0.902828  19490  ...  0.395529 -0.952974    0.597466
...         ...       ...    ...  ...       ...       ...         ...
463    0.019449 -0.969068  17498  ... -1.874647  1.304250    0.775681
12769  0.851884  0.902828  10835  ...  0.395529 -0.058719   -1.184682
1094  -2.061638 -0.033120  11980  ...  0.395529 -0.182064   -1.184682
2473  -0.396768  0.902828  29840  ...  0.395529  0.298984    0.597466
7927   0.435667 -0.033120   9967  ...  0.395529 -0.502763   -0.471823

[19838 rows x 9 columns]

## Baseline for comparison...

In [ ]:
start = time.time()
base_rbf=SVR(kernel='rbf').fit(x_train.loc[:,x_train.columns!="price"], x_train.loc[:,"price"])
end = time.time()
pred_rbf = base_rbf.predict(x_test.loc[:,x_train.columns!="price"])
# mean_absolute_error(y_true, y_pred)
# mean_squared_error(y_true, y_pred)
print("MAE: ",mean_absolute_error(x_test.loc[:,"price"], pred_rbf))
print("RMSE: ",math.sqrt(mean_squared_error(x_test.loc[:,"price"], pred_rbf)))
print("SCORE: ",base_rbf.score(x_test.loc[:,x_train.columns!="price"], x_test.loc[:,"price"]))
print(str("total time: ")+ (str(end - start)))

MAE:  4546.1795086486045
RMSE:  7759.07111160152
SCORE:  0.373140563279572
total time: 505.6590197086334

In [ ]:
start = time.time()
base_linear=SVR(kernel='linear').fit(x_train.loc[:,x_train.columns!="price"], x_train.loc[:,"price"])
end = time.time()
pred_linear = base_linear.predict(x_test.loc[:,x_train.columns!="price"])
# mean_absolute_error(y_true, y_pred)
# mean_squared_error(y_true, y_pred)
print("MAE: ",mean_absolute_error(x_test.loc[:,"price"], pred_linear))
print("RMSE: ",math.sqrt(mean_squared_error(x_test.loc[:,"price"], pred_linear)))
print("SCORE: ",base_linear.score(x_test.loc[:,x_train.columns!="price"], x_test.loc[:,"price"]))
print(str("total time: ")+ (str(end - start)))

MAE:  3384.776988766054
RMSE:  5371.783481674125
SCORE:  0.6995392807219364
total time: 422.2041938304901

In [ ]:
start = time.time()
base_poly=SVR(kernel='poly').fit(x_train.loc[:,x_train.columns!="price"], x_train.loc[:,"price"])
end = time.time()
pred_poly = base_poly.predict(x_test.loc[:,x_train.columns!="price"])
# mean_absolute_error(y_true, y_pred)
# mean_squared_error(y_true, y_pred)
print("MAE: ",mean_absolute_error(x_test.loc[:,"price"], pred_poly))
print("RMSE: ",math.sqrt(mean_squared_error(x_test.loc[:,"price"], pred_poly)))
print("SCORE: ",base_poly.score(x_test.loc[:,x_train.columns!="price"], x_test.loc[:,"price"]))
print(str("total time: ")+ (str(end - start)))

MAE:  4977.3527250557
RMSE:  7474.7126610307205
SCORE:  0.4182455573278425
total time: 732.2479569911957

In [ ]:
start = time.time()
base_sig=SVR(kernel='sigmoid').fit(x_train.loc[:,x_train.columns!="price"], x_train.loc[:,"price"])
end = time.time()
pred_sig = base_sig.predict(x_test.loc[:,x_train.columns!="price"])
# mean_absolute_error(y_true, y_pred)
# mean_squared_error(y_true, y_pred)
print("MAE: ",mean_absolute_error(x_test.loc[:,"price"], pred_sig))
print("RMSE: ",math.sqrt(mean_squared_error(x_test.loc[:,"price"], pred_sig)))
print("SCORE: ",base_sig.score(x_test.loc[:,x_train.columns!="price"], x_test.loc[:,"price"]))
print(str("total time: ")+ (str(end - start)))

MAE:  3802.4944887065253
RMSE:  6464.753460336159
SCORE:  0.5648343184226374
total time: 590.9041473865509

## SVR subsmple with Bayesian Optimization

In [ ]:
svr_subsample_bayes_train(x_train,x_test,0.01,0.1,"price","rbf",5,0.70)

####### BAYESIAN_OPT MODE #######
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished

best score: 0.4572087772629428
Interrupting!
++++++ TRAIN TIME (0) 0.15160202980041504 +++++++++++
####### BEST MODEL PARAMS INITIAL STEP (0) #####
OrderedDict([('C', 288.2700717156663), ('degree', 4), ('epsilon', 4.856879063155949), ('kernel', 'rbf')])
Coefficient of determination R^2 of the prediction:

0.5352593950547457
MAE:  3639.6866922735926
RMSE:  6680.822873726524
####### BEST MODEL PARAMS INITIAL STEP (0) #####
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    8.1s finished

best score: 0.7120127293928444
Interrupting!
++++++ TRAIN TIME (1) 15.067610025405884 +++++++++++
####### BEST MODEL PARAMS STEP 1 #####
OrderedDict([('C', 327.92553132658617), ('degree', 3), ('epsilon', 0.6550491307598427), ('kernel', 'rbf')])
Coefficient of determination R^2 of the prediction:

0.7744654954385182
MAE:  2636.1603885340915
RMSE:  4654.0510761772775
DIFF with previous:  -0.23920610038377244
####### BEST MODEL PARAMS STEP 1 #####
!!!! TOTAL ELAPSED TIME: 28.804022312164307 !!!!

BayesSearchCV(cv=3, error_score='raise',
              estimator=SVR(C=1.0, cache_size=200, coef0=0.0, degree=3,
                            epsilon=0.1, gamma='scale', kernel='rbf',
                            max_iter=-1, shrinking=True, tol=0.001,
                            verbose=False),
              fit_params=None, iid=True, n_iter=10, n_jobs=3, n_points=1,
              optimizer_kwargs=None, pre_dispatch='2*n_jobs', random_state=None,
              refit=True, return_train_score=False, scoring=None,
              search_spaces={'C': (0.01, 1000.0, 'log-uniform'),
                             'degree': (2, 5),
                             'epsilon': (0.01, 100.0, 'log-uniform'),
                             'kernel': ['rbf']},
              verbose=3)

In [ ]:
svr_subsample_bayes_train(x_train,x_test,0.01,0.1,"price","linear",5,0.70)

####### BAYESIAN_OPT MODE #######
Fitting 3 folds for each of 1 candidates, totalling 3 fits
best score: 0.6869625093243164
Interrupting!
++++++ TRAIN TIME (0) 0.14037036895751953 +++++++++++
####### BEST MODEL PARAMS INITIAL STEP (0) #####
OrderedDict([('C', 185.33086896874718), ('degree', 2), ('epsilon', 7.966851184220562), ('kernel', 'linear')])
Coefficient of determination R^2 of the prediction:

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished

0.7136814973440919
MAE:  3391.2147403150875
RMSE:  5243.839072543667
####### BEST MODEL PARAMS INITIAL STEP (0) #####
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    5.0s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.6902642180115847
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    5.1s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.6902642180115847
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    5.1s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.6902642180115847
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    4.9s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.6902642180115847
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    5.2s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.6902642180115847
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    4.9s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.6902642180115847
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    5.2s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.6902642180115847
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    5.2s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.6902642180115847
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    4.9s finished

best score: 0.6902642180115847
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    4.9s finished

best score: 0.6902642180115847
++++++ TRAIN TIME (1) 56.55885434150696 +++++++++++
####### BEST MODEL PARAMS STEP 1 #####
OrderedDict([('C', 36.66078298853097), ('degree', 2), ('epsilon', 35.53997802910725), ('kernel', 'linear')])
Coefficient of determination R^2 of the prediction:

0.7123567446371635
MAE:  3372.4564803870608
RMSE:  5255.956300454189
DIFF with previous:  0.0013247527069284448
####### BEST MODEL PARAMS STEP 1 #####
!!!! TOTAL ELAPSED TIME: 61.121910572052 !!!!

BayesSearchCV(cv=3, error_score='raise',
              estimator=SVR(C=1.0, cache_size=200, coef0=0.0, degree=3,
                            epsilon=0.1, gamma='scale', kernel='rbf',
                            max_iter=-1, shrinking=True, tol=0.001,
                            verbose=False),
              fit_params=None, iid=True, n_iter=10, n_jobs=3, n_points=1,
              optimizer_kwargs=None, pre_dispatch='2*n_jobs', random_state=None,
              refit=True, return_train_score=False, scoring=None,
              search_spaces={'C': (0.01, 1000.0, 'log-uniform'),
                             'degree': (2, 5),
                             'epsilon': (0.01, 100.0, 'log-uniform'),
                             'kernel': ['linear']},
              verbose=3)

In [ ]:
svr_subsample_bayes_train(x_train,x_test,0.01,0.1,"price","sigmoid",5,0.70)

####### BAYESIAN_OPT MODE #######
Fitting 3 folds for each of 1 candidates, totalling 3 fits
best score: -0.046873792606949724
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: -0.046873792606949724
Fitting 3 folds for each of 1 candidates, totalling 3 fits
best score: -0.03496579352739203
Fitting 3 folds for each of 1 candidates, totalling 3 fits
best score: -0.03496579352739203

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished

Fitting 3 folds for each of 1 candidates, totalling 3 fits
best score: 0.5898437830315272
Interrupting!
++++++ TRAIN TIME (0) 0.5693819522857666 +++++++++++
####### BEST MODEL PARAMS INITIAL STEP (0) #####
OrderedDict([('C', 849.0746385746878), ('degree', 3), ('epsilon', 0.06118532167600668), ('kernel', 'sigmoid')])
Coefficient of determination R^2 of the prediction:

0.3730807099422787
MAE:  4787.780264537883
RMSE:  7759.441525755096
####### BEST MODEL PARAMS INITIAL STEP (0) #####
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:   10.3s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: -0.051443387161808754
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:   10.3s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: -0.013005588140080368
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:   10.4s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.5818724115910882
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:   12.7s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.5818724115910882
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:   10.2s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.5818724115910882
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:   10.3s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.5818724115910882
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:   10.9s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.5818724115910882
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:   10.1s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.6107632898699445
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:   10.9s finished

best score: 0.6107632898699445
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    9.9s finished

best score: 0.6107632898699445
++++++ TRAIN TIME (1) 116.96845006942749 +++++++++++
####### BEST MODEL PARAMS STEP 1 #####
OrderedDict([('C', 47.24096350912004), ('degree', 4), ('epsilon', 46.013325939962336), ('kernel', 'sigmoid')])
Coefficient of determination R^2 of the prediction:

0.5545631335341719
MAE:  4103.698190174896
RMSE:  6540.602068202569
DIFF with previous:  -0.18148242359189315
####### BEST MODEL PARAMS STEP 1 #####
!!!! TOTAL ELAPSED TIME: 136.47272849082947 !!!!

BayesSearchCV(cv=3, error_score='raise',
              estimator=SVR(C=1.0, cache_size=200, coef0=0.0, degree=3,
                            epsilon=0.1, gamma='scale', kernel='rbf',
                            max_iter=-1, shrinking=True, tol=0.001,
                            verbose=False),
              fit_params=None, iid=True, n_iter=10, n_jobs=3, n_points=1,
              optimizer_kwargs=None, pre_dispatch='2*n_jobs', random_state=None,
              refit=True, return_train_score=False, scoring=None,
              search_spaces={'C': (0.01, 1000.0, 'log-uniform'),
                             'degree': (2, 5),
                             'epsilon': (0.01, 100.0, 'log-uniform'),
                             'kernel': ['sigmoid']},
              verbose=3)

In [ ]:
svr_subsample_bayes_train(x_train,x_test,0.01,0.1,"price","poly",5,0.70)

####### BAYESIAN_OPT MODE #######
Fitting 3 folds for each of 1 candidates, totalling 3 fits
best score: -0.05307335953602353
Fitting 3 folds for each of 1 candidates, totalling 3 fits
best score: -0.05307335953602353
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: -0.05307335953602353
Fitting 3 folds for each of 1 candidates, totalling 3 fits
best score: -0.052431176174872515
Fitting 3 folds for each of 1 candidates, totalling 3 fits
best score: 0.010850611391200166
Fitting 3 folds for each of 1 candidates, totalling 3 fits
best score: 0.010850611391200166
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.010850611391200166
Fitting 3 folds for each of 1 candidates, totalling 3 fits
best score: 0.010850611391200166
Fitting 3 folds for each of 1 candidates, totalling 3 fits
best score: 0.08892232548836715

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished

Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.1s finished

best score: 0.08892232548836715
++++++ TRAIN TIME (0) 2.268523931503296 +++++++++++
####### BEST MODEL PARAMS INITIAL STEP (0) #####
OrderedDict([('C', 17.907878854448896), ('degree', 4), ('epsilon', 4.378484622053018), ('kernel', 'poly')])
Coefficient of determination R^2 of the prediction:

0.04991833359214115
MAE:  6546.230628710648
RMSE:  9552.237611019984
####### BEST MODEL PARAMS INITIAL STEP (0) #####
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    5.8s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.3702820230241163
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    6.0s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.3702820230241163
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    6.4s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.5623357278608013
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    5.8s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.5623357278608013
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    5.7s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.5623357278608013
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    6.1s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.5623357278608013
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    9.2s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.5623357278608013
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    6.0s finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.5623357278608013
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    5.8s finished

best score: 0.5623357278608013
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    8.9s finished

best score: 0.5623357278608013
++++++ TRAIN TIME (1) 73.32327008247375 +++++++++++
####### BEST MODEL PARAMS STEP 1 #####
OrderedDict([('C', 151.82013324142235), ('degree', 3), ('epsilon', 52.821184806684485), ('kernel', 'poly')])
Coefficient of determination R^2 of the prediction:

0.6032583763068303
MAE:  3880.878033464075
RMSE:  6172.747770967763
DIFF with previous:  -0.5533400427146892
####### BEST MODEL PARAMS STEP 1 #####
!!!! TOTAL ELAPSED TIME: 81.52180624008179 !!!!

BayesSearchCV(cv=3, error_score='raise',
              estimator=SVR(C=1.0, cache_size=200, coef0=0.0, degree=3,
                            epsilon=0.1, gamma='scale', kernel='rbf',
                            max_iter=-1, shrinking=True, tol=0.001,
                            verbose=False),
              fit_params=None, iid=True, n_iter=10, n_jobs=3, n_points=1,
              optimizer_kwargs=None, pre_dispatch='2*n_jobs', random_state=None,
              refit=True, return_train_score=False, scoring=None,
              search_spaces={'C': (0.01, 1000.0, 'log-uniform'),
                             'degree': (2, 5),
                             'epsilon': (0.01, 100.0, 'log-uniform'),
                             'kernel': ['poly']},
              verbose=3)

## Comparison without the subsample algorithm

In [ ]:
import math
start = time.time()
Sv = BayesSearchCV(
    SVR(gamma='scale'),
    {
        'C': (1e-2, 1e+3,'log-uniform'),
        'degree': (2, 5),
        'epsilon': (1e-2, 1e+2,'log-uniform'),  # integer valued parameter
        'kernel': ['rbf']  # categorical parameter
    },
    cv=3,
    n_jobs=3,
    n_iter=10,
    verbose=3
)
# callback handler
def on_step(optim_result):
    score = Sv.best_score_
    print("best score: %s" % score)
    if score >= 0.60:
        print('Interrupting!')
        return True

Sv.fit(x_train.loc[:,x_train.columns!="price"], x_train.loc[:,"price"],callback=on_step)
end = time.time()
pred = Sv.predict(x_test.loc[:,x_train.columns!="price"])
# mean_absolute_error(y_true, y_pred)
# mean_squared_error(y_true, y_pred)
print("MAE: ",mean_absolute_error(x_test.loc[:,"price"], pred))
print("RMSE: ",math.sqrt(mean_squared_error(x_test.loc[:,"price"], pred)))
print("SCORE: ",Sv.score(x_test.loc[:,x_train.columns!="price"], x_test.loc[:,"price"]))
print(str("total time: ")+ (str(end - start)))

Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:  8.8min finished

best score: 0.7355747112528818
Interrupting!
MAE:  2681.2352424452824
RMSE:  4674.508577118284
SCORE:  0.7726439772825355
total time: 1001.78191447258

In [ ]:
import math
start = time.time()
Sv = BayesSearchCV(
    SVR(gamma='scale'),
    {
        'C': (1e-2, 1e+3,'log-uniform'),
        'degree': (2, 5),
        'epsilon': (1e-2, 1e+2,'log-uniform'),  # integer valued parameter
        'kernel': ['linear']  # categorical parameter
    },
    cv=3,
    n_jobs=3,
    n_iter=10,
    verbose=3
)
# callback handler
def on_step(optim_result):
    score = Sv.best_score_
    print("best score: %s" % score)
    if score >= 0.60:
        print('Interrupting!')
        return True

Sv.fit(x_train.loc[:,x_train.columns!="price"], x_train.loc[:,"price"],callback=on_step)
end = time.time()
pred = Sv.predict(x_test.loc[:,x_train.columns!="price"])
# mean_absolute_error(y_true, y_pred)
# mean_squared_error(y_true, y_pred)
print("MAE: ",mean_absolute_error(x_test.loc[:,"price"], pred))
print("RMSE: ",math.sqrt(mean_squared_error(x_test.loc[:,"price"], pred)))
print("SCORE: ",Sv.score(x_test.loc[:,x_train.columns!="price"], x_test.loc[:,"price"]))
print(str("total time: ")+ (str(end - start)))

Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:  6.1min finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.5665036112217049
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:  5.7min finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.5665036112217049
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:  5.2min finished

best score: 0.7011515401615195
Interrupting!
MAE:  3404.470063350454
RMSE:  5394.733896061117
SCORE:  0.6971869442253781
total time: 1352.1349895000458

In [ ]:
import math
start = time.time()
Sv = BayesSearchCV(
    SVR(gamma='scale'),
    {
        'C': (1e-2, 1e+3,'log-uniform'),
        'degree': (2, 5),
        'epsilon': (1e-2, 1e+2,'log-uniform'),  # integer valued parameter
        'kernel': ['poly']  # categorical parameter
    },
    cv=3,
    n_jobs=3,
    n_iter=10,
    verbose=3
)
# callback handler
def on_step(optim_result):
    score = Sv.best_score_
    print("best score: %s" % score)
    if score >= 0.50:
        print('Interrupting!')
        return True

Sv.fit(x_train.loc[:,x_train.columns!="price"], x_train.loc[:,"price"],callback=on_step)
end = time.time()
pred = Sv.predict(x_test.loc[:,x_train.columns!="price"])
# mean_absolute_error(y_true, y_pred)
# mean_squared_error(y_true, y_pred)
print("MAE: ",mean_absolute_error(x_test.loc[:,"price"], pred))
print("RMSE: ",math.sqrt(mean_squared_error(x_test.loc[:,"price"], pred)))
print("SCORE: ",Sv.score(x_test.loc[:,x_train.columns!="price"], x_test.loc[:,"price"]))
print(str("total time: ")+ (str(end - start)))
#27m 28 secs

Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:  6.5min finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: -0.030719986357911462
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:  6.8min finished

best score: 0.6116528479442412
Interrupting!
MAE:  3694.9563074387097
RMSE:  6750.166763726089

In [ ]:
import math
start = time.time()
Sv = BayesSearchCV(
    SVR(gamma='scale'),
    {
        'C': (1e-2, 1e+3,'log-uniform'),
        'degree': (2, 5),
        'epsilon': (1e-2, 1e+2,'log-uniform'),  # integer valued parameter
        'kernel': ['sigmoid']  # categorical parameter
    },
    cv=3,
    n_jobs=3,
    n_iter=10,
    verbose=3
)
# callback handler
def on_step(optim_result):
    score = Sv.best_score_
    print("best score: %s" % score)
    if score >= 0.60:
        print('Interrupting!')
        return True

Sv.fit(x_train.loc[:,x_train.columns!="price"], x_train.loc[:,"price"],callback=on_step)
end = time.time()
pred = Sv.predict(x_test.loc[:,x_train.columns!="price"])
# mean_absolute_error(y_true, y_pred)
# mean_squared_error(y_true, y_pred)
print("MAE: ",mean_absolute_error(x_test.loc[:,"price"], pred))
print("RMSE: ",math.sqrt(mean_squared_error(x_test.loc[:,"price"], pred)))
print("SCORE: ",Sv.score(x_test.loc[:,x_train.columns!="price"], x_test.loc[:,"price"]))
print(str("total time: ")+ (str(end - start)))

Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed: 19.4min finished
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

best score: 0.5565443627900503
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed: 15.2min finished

best score: 0.6119561528959444
Interrupting!
MAE:  4060.166924112877
RMSE:  6435.238467930544
SCORE:  0.566956589908722
total time: 2767.0439281463623